html {
  padding: 50px 0 0 0;
  margin: 0;
  border: 0;
  background-color: #212121;
  color: #ffffff;
  font-family: Helvetica, sans-serif;
  text-align: center; }

body {
  background-color: #212121;
  padding: 0px 0 0 0;
  margin: 0;
  border: 0; }

#loader {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #212121;
  height: 100vh;
  width: 100vw;
  position: absolute; }

#mobileNav {
  display: none; }

#headingText {
  margin: 45px auto 45px auto;
  letter-spacing: 1px;
  line-height: 1.4; }
  #headingText p {
    width: 530px;
    margin: 0 auto; }

#headerImage {
  text-align: center;
  margin: auto 0 auto; }
  #headerImage img {
    width: 270px; }

nav ul {
  list-style: none;
  margin: 0 auto;
  text-align: center; }
  nav ul li {
    display: inline;
    margin: 0 15px;
    width: 100px; }
    nav ul li img {
      width: 100px; }
    nav ul li a {
      cursor: pointer;
      text-decoration: none;
      display: inline-block;
      line-height: 1.5;
      color: #ffffff;
      transition: color .3s; }
    nav ul li a:hover {
      color: #1586D1; }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding: 0 0 30px 0; }
  footer span {
    color: #1586D1; }

@media (max-width: 650px) {
  #headingText p {
    width: 80%; }
  #desktopNav {
    display: none; }
  #mobileNav {
    display: block;
    text-align: left; }
    #mobileNav ul {
      text-align: left;
      width: 225px;
      padding: 0;
      margin: 0 auto; }
      #mobileNav ul li {
        display: inline-block;
        width: 100%;
        text-align: left;
        margin: 7px auto;
        padding: 0px;
        border: 0; }
        #mobileNav ul li a {
          font-size: 20px; }
        #mobileNav ul li img {
          width: 25px; }
  footer {
    font-size: 12px; } }
